* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  color: #333333; 
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.navigation {
  position: fixed; 
  width: 100%;
  background-color: #333333; 
  z-index: 1000;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigation li {
  float: right;
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navigation li a:hover {
  background-color: #555; 
}


.logo {
  width: 80px; 
  height: auto;
  margin: 8px 20px;
  display: block;
  float: left;
}

h1, h2, h3, p {
  margin-left: 20px;
}

h1 {
  margin-top: 60px; 
  font-size: 32px;
  text-align: center;
}

.addbutton {
  padding: 10px 20px;
  font-size: 12px;
  float: left;
  width: 100px;
  margin-left: 20px;
}

.chat-container {
  width: 350px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

footer {
  position: relative; 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333; 
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footerfix {
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333; 
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 10px 0; 
}



